.form__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form__info li {
  border: none;
}

.form__info input {
  text-align: center;
  padding: 0;
  border: 0.5px dashed black;
  border-radius: 5px;
  width: 100%;
  height: 4vh;
}

input[type="file"]::-webkit-file-upload-button {
  height: 100%;
  vertical-align: middle;
}

/* .form__info .form__info--file {
  border: 1px solid black;
} */
