.detail__info--title {
  margin: 0;
  font-size: 38px;
  font-weight: bold;
  height: 10%;
  white-space: nowrap;
}

.detail__info--price {
  font-weight: bold;
  height: 10%;
}

.detail__info--desc {
  height: 45%;
}

.detail__info--size {
  width: 100%;
  height: 10%;
}

.detail__info--size .label {
  width: 20%;
  color: #1d1d1d;
}

.detail__info--size .options {
  width: 80%;
  height: 70%;
  border: 0.5px dashed black;
  border-radius: 5px;
  margin-left: 5px;
  padding-left: 10px;
}

@media screen and (max-width: 770px) {
  .space {
    display: none;
  }

  .container {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .form__img {
    width: 70%;
  }

  .form__info {
    width: 70%;
  }

  .detail__info--title {
    font-size: 22px;
    margin-bottom: 2px;
  }

  .detail__info--price {
    margin-bottom: 2px;
  }

  .detail__info--desc {
  }

  .detail__info--size {
  }

  .detail__info--size .options {
    margin-bottom: 2px;
  }
}
