.form__info {
  display: flex;
  flex-direction: column;
}

.form__info li {
  height: 10%;
}

.form__info li:nth-child(3) {
  height: 60%;
}

.detail__info--title {
  margin: 0;
  font-size: 38px;
  font-weight: bold;
  white-space: nowrap;
}

.detail__info--price {
  font-weight: bold;
}

.detail__info--size .options {
  width: 80%;
  height: 70%;
  border: 0.5px dashed black;
  border-radius: 5px;
  margin-left: 5px;
  padding-left: 10px;
}
