.cart {
  width: 75%;
  height: 60%;
}

.cart__list {
  height: 100%;
  overflow-y: scroll;
}

.cart__item {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed black;
  margin-bottom: 10px;
}

.cart__total {
  width: 80%;
  display: flex;
  justify-content: space-around;

  align-items: center;
  border-top: 1px dashed black;
  margin-top: 30px;
  padding-top: 10px;
}

.cart__total li {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 5px;
}

/* .cart__total li span:nth-child(2) {
  text-align: center;
} */
