@font-face {
  font-family: "mango";
  src: url("./fonts/mango.ttf");
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
  font-weight: bold;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.container.shop {
  position: absolute;
  height: 80%;
  top: 10%;
}

.container.form {
  position: absolute;
  height: 80%;
  top: 10%;
}

.space {
  width: 25%;
}

.form__wrap {
  display: flex;
  width: 75%;
  height: 100%;
}

.form__img {
  width: 40%;
  height: 100%;
  margin-right: 20px;
  border-radius: 5px;
}

.form__add {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.form__info {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 770px) {
  .form__wrap {
    flex-direction: column;
    align-items: center;
  }
}
